body {
    font-family: Arial, sans-serif;
  }
  
  #ramen-menu {
    display: flex;
    flex-wrap: wrap;
  }
  
  #ramen-menu img {
    width: 150px;
    height: auto;
    margin: 10px;
    cursor: pointer;
  }
  
  #ramen-detail {
    margin-top: 20px;
  }
  
  #new-ramen {
    margin-top: 20px;
  }
  #a{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  text-align: center;
  }